/* Variable */
:root {
  /* ===== color ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ===== Transition ===== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
body.dark {
  /* ===== color ===== */
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
:root {
  /* ===== color ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
}

body.dark {
  /* ===== color ===== */
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}
body.dark {
  background: var(--body-color);
}
.four-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/bg3.jpeg);
  background-position: 0px -100px;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.four-header h1 {
  position: relative;
  top: 50px;
  font-size: 40px;
  font-weight: 400;
}
form h3 {
  margin-top: 15px;
  color: #ddd;
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 5px;
}

form .rules-contact {
  font-size: 1.1em;
  padding-bottom: 20px;
  color: rgb(205, 198, 198);
}

.row .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}
form {
  margin: 40px 0;
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 15px 40px;
  border-radius: 6px;
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);
}

form .input-box {
  position: relative;
  height: 50px;
  margin: 20px 0;
}

/* mencari input yang memiliki attribute text */
.input-box input[type="text"] {
  color: #ddd;
}

.input-box input {
  font-size: 16px;
  position: absolute;
  height: 100%;
  width: 90%;
  outline: none;
  /* border: 2px solid #ccc; */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 0 30px 0 15px;
  transition: all 0.2s linear;
  background-color: rgba(255, 255, 255, 0.2);
}
input,
textarea :is(:focus, :valid) {
  border-color: #4070f4;
}
.input-box :is(label) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  color: #a4a9b5;
}

.input-box label {
  top: 23px;
  left: 15px;
  pointer-events: none;
  font-size: 16px;
  font-weight: 400;
}
input:is(:focus, :valid) ~ label {
  color: #fff;
  top: -10px;
  font-size: 14px;
  font-weight: 500px;
  z-index: 2;
  background-color: transparent;
}

form button.btn-kirim {
  margin: 40px auto 0px;
  transition: all 0.3s ease;
}
form button.btn-kirim::before {
  background-color: #000;
  opacity: 0.7;
}
form button:hover {
  opacity: 0.8;
  background-color: #4070f4;
  color: #fff;
}

form .icons {
  margin: 55px 0 20px;
}

form .icons i {
  color: #ddd;
  font-size: 2.5em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 15px;
}
form .icons i:hover {
  transform: scale(1.2);
  opacity: 0.8;
  transform: translateY(-10px);
}

form .info {
  display: none;
  background-color: #20c997;
  border-radius: 6px;
  justify-content: space-between;
  padding: 10px;
  opacity: 0.9;
}
form .info p {
  color: black;
  padding-top: 3px;
  font-size: 1em;
  font-weight: 300;
  opacity: 0.8;
}
form .info i {
  font-size: 28px;
  color: #e4e9f7;
  cursor: pointer;
  opacity: 0.7;
}
form .info i:hover {
  opacity: 1;
}
.text-col {
  display: flex;
  justify-content: center;
}
.rules {
  margin-top: 80px;
}
.rules h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2.5em;
  font-family: "nunito";
  color: var(--text-color);
}
.rules li,
.rules-span {
  color: var(--text-color);
  font-weight: 300;
  font-size: 1.1em;
  font-family: "Nunito";
}

.col h2 {
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 20px;
}

/* Responsive */
@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .four-header {
    background-position: 0 0px;
  }
  .four-header h1 {
    transform: translateY(65px);
  }
  section .rules-span {
    font-size: 0.8em;
    text-align: start;
    margin-left: 10px;
    /* display: inline-block; */
  }
  form {
    width: 90%;
    padding: 15px 20px;
  }
  form .rules-contact {
    font-size: 0.8em;
  }
  .input-box input {
    width: 100%;
    height: 95%;
  }
  form button.btn-kirim {
    margin: 10px auto 0px;
    width: 50%;
    height: 50%;
  }
  form .icons i {
    font-size: 2.1em;
  }
}
