/* Footer */
footer {
  width: 100%;
  text-align: center;
  padding: 40px 0 0px;
  background-color: #3a3b3c;
}
footer h4 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 2.2em;
  color: #ccc;
  font-weight: 300;
  font-family: "Nunito";
}
footer .footer-content {
  padding-top: 25px;
  font-size: 1.1em;
  color: #ccc;
  font-family: "Nunito";
}
footer .made {
  margin-bottom: 10px;
  font-size: 1em;
}
footer hr {
  margin: 30px auto 0;
  width: 70vw;
}
footer .footer-bottom {
  background-color: #3a3b3c;
  font-family: "Poppins";
  font-weight: 300;
  padding: 40px;
  color: #ccc;
}
footer .footer-info-1 {
  font-size: 0.9em;
}
footer .footer-info-2 {
  padding-top: 7px;
}
footer .footer-bottom i {
  position: relative;
  top: 3px;
  font-size: 1em;
}

@media screen and (max-width: 800px) {
  footer {
    margin-top: 40px;
  }
  footer h4 {
    font-size: 1.9em;
  }
  footer .footer-content {
    font-size: 0.8em;
  }
}
